<mat-card>
  <mat-card-title>Iniciar Sesión</mat-card-title>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Correo Electrónico</mat-label>
        <input matInput formControlName="email" type="email" placeholder="Ingresa tu correo" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="contrasenia" type="password" placeholder="Ingresa tu contraseña" />
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
        Iniciar Sesión
      </button>
    </form>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </mat-card-content>
</mat-card>
